body {
	background-color: #ffec00;
} 
h1 {
	color:brown;
	font-size:xx-large
}
.p{ 
color: darkgoldenrod
}
a{
	
text-decoration: none;
	color: chocolate
}
.listone {
	color: #f1159a
}
.listtwo {
	color:saddlebrown
}

.listtwo {
	color:blue
}
